<div class="card post" style="width: 18em;">
    <div class="user-avatar">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" alt="User Avatar" />
    </div>
    <div class="user-details">
      <h5 class="username">vveljko</h5>
    </div>
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top"  alt="Chicago Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">Blanket iz fizike</h5>
      <p class="card-text">Da li neko mozda ima uradjen 2. zadatak sa ovog blanketa iz fizike bio bih bas zahvalan</p>
    </div>
    <ul class="list-group list-group-light list-group-small">
      <li class="list-group-item px-4">Cras justo odio</li>
      <li class="list-group-item px-4">Dapibus ac facilisis in</li>
      <li class="list-group-item px-4">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  