$color_1: #323232;
$color_2: #767676;
$color_3: black;
$color_4: #000000;
$color_5: #707070;
$color_6: white;
$color_7: gray;
$color_8: #0084ff;
$color_9: #0084ff8d;
$font-family-1: "Open Sans";
$font-family-2: "Roboto";
$background-color-1: white;
$background-color-2: #ffffff;
$background-color-3: #f0f0f0af;
$background-color-4: lawngreen;
$background-color-5: #0084ff;
$background-color-6: transparent;

@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
svg {
    cursor: pointer;
}
.navigation {
    width: 100%;
    min-height: 60px;
    background-color: $background-color-1;
    position: sticky;
    top: 0;
    z-index: 1;
    border: 0.5px solid #76767637;
}
.case {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    width: 900px;
    height: 90%;
    background-color: $background-color-2;
    border: 0.5px solid #76767637;
}
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.left {
    min-width: 350px;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    >.top {
        position: relative;
        min-height: 60px;
        width: 100%;
        background-color: $background-color-2;
        border-bottom: 0.5px solid #76767637;
        display: flex;
        align-items: center;
        >.tub {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            font-family: $font-family-1;
            width: 100%;
            >.username {
                max-width: 50%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                gap: 5px;
                >.down-arrow {
                    cursor: pointer;
                }
            }
        }
        >.card {
            position: absolute;
            padding: 0 10px;
            right: 10px;
            >button {
                background-color: $background-color-2;
                border: 0.5px solid #76767637;
                padding: 4px 8px;
                color: $color-1;
                font-family: $font-family-1;
                font-weight: 700;
                font-size: 12px;
                border-radius: 12px;
                cursor: pointer;
                &:hover {
                    color: $color-2;
                }
            }
        }
    }
    >.conversations {
        overflow-y: scroll;
        height: 100%;
        padding: 10px 0 0 0;
        overflow-x: hidden;
    }
}
.conversations {
    >.person {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: $background-color-2;
        gap: 10px;
        &:hover {
            background-color: $background-color-3;
            cursor: pointer;
        }
        >.information {
            font-family: $font-family-1;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100%;
            overflow: hidden;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            >.username {
                font-family: $font-family-1;
                font-size: 14px;
                display: flex;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                gap: 4px;
                width: 100%;
                align-items: center;
            }
            >.content {
                display: flex;
                align-items: center;
                gap: 5px;
                width: 100%;
                color: $color-3;
                >.message {
                    max-width: 70%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: $font-family-2;
                    color: $color-4;
                }
                >.new {
                    max-width: 70%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: $font-family-2;
                    color: $color-3;
                    font-weight: 700;
                }
            }
        }
        >.box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            >.image {
                width: clamp(50px, 50px, 50px);
                height: clamp(50px, 50px, 50px);
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            >.online {
                min-width: 1.1rem;
                min-height: 1.1rem;
                background-color: $background-color-4;
                border-radius: 100%;
                position: absolute;
                border: 3px solid white;
                right: 0;
                bottom: 0;
            }
        }
        >.status {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
            >.point {
                min-height: 8px;
                min-width: 8px;
                background-color: $background-color-5;
                border-radius: 100%;
            }
        }
    }
}
.right {
    border-left: 0.5px solid #76767637;
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    >.top {
        width: 100%;
        display: flex;
        min-height: 60px;
        align-items: center;
        padding: 0 20px;
        border-bottom: 0.5px solid #76767637;
        gap: 1rem;
        >.box {
            position: relative;
            min-width: 30px;
            min-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            >.image {
                display: flex;
                align-items: center;
                border: none;
                border-radius: 100%;
                overflow: hidden;
            }
            >.online {
                position: absolute;
                min-width: 12px;
                min-height: 12px;
                background-color: $background-color-4;
                border-radius: 100%;
                border: 2px solid #ffffff;
                right: 0;
                bottom: 0;
            }
        }
        >.information {
            display: flex;
            align-items: flex-start;
            justify-content: start;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            gap: 0;
            text-overflow: ellipsis;
            >.username {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                font-family: $font-family-1;
                >a {
                    color: $color-3;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2.5px;
                }
            }
        }
        .information {
            >.username {
                font-weight: 400;
                font-size: 15px;
                display: flex;
            }
            >.name {
                font-weight: 400;
                font-size: 12px;
                color: $color-5;
            }
        }
        >.options {
            display: flex;
            align-items: center;
            justify-content: center;
            >.info {
                border: none;
                background-color: $background-color-6;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;
            }
        }
    }
    >.middle {
        background-color: $background-color-2;
        height: inherit;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
    }
    >.bottom {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 28px;
    }
}
.name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-family: $font-family-1;
}
.blue-tick {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
.messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2.5px;
}
.clip {
    display: flex;
    >.text {
        font-family: $font-family-1;
        font-size: 14px;
        font-weight: 400;
        max-width: 50%;
        padding: 8px 16px;
        border-radius: 20px;
        word-break: keep-all;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
.received {
    >.text {
        background-color: $background-color-1;
        border: 0.5px solid #80808080;
    }
}
.sent {
    >.text {
        background-color: $background-color-5;
        color: $color-6;
    }
    flex-direction: row-reverse;
}
.seen {
    text-align: right;
    padding: 0 10px;
    font-family: $font-family-1;
    font-size: 0.75rem;
    font-weight: 400;
    color: $color-7;
}
.cup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color-2;
    border: 0.5px solid #7676765c;
    width: 100%;
    gap: 10px;
    padding: 2px 15px;
    border-radius: 40px;
    overflow: hidden;
    >.picker {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: clamp(35px, 35px, 35px);
        height: clamp(35px, 35px, 35px);
        user-select: none;
    }
    >textarea {
        font-family: $font-family-1;
        font-size: 0.85rem;
        font-weight: 400;
        border: none;
        outline: none;
        padding: 0 5px;
        width: 100%;
        resize: none;
        max-height: 100px;
    }
    >.send {
        border: none;
        padding: 5px 10px;
        background-color: $background-color-6;
        font-family: $font-family-1;
        font-size: 14px;
        font-weight: 700;
        color: $color-8;
    }
}
.send {
    &:disabled {
        color: $color-9;
    }
}

@media only screen and (max-width: 950px) {
    .container {
        border-top: none;
        width: 100%;
        height: 100%;
    }
}
