<div class="block">
	<div class="block-header">
		<div class="title">
			<h2>Comments</h2>
			<div class="tag"></div>
		</div>
		<!-- <div class="group-radio">
			<span class="button-radio">
				<input id="latest" name="latest" type="radio" checked>
				<label for="latest">Latest</label>
			</span>
			<div class="divider"></div>
			<span class="button-radio">
				<input id="popular" name="latest" type="radio">
				<label for="popular">Popular</label>
			</span>
		</div> -->
	</div>
	<form [formGroup]="commentForm" (ngSubmit)="sendComment()">
		<div class="writing">
		  <input type="text" class="textarea" formControlName="commentText" autofocus spellcheck="false">
		  <div class="footer">
			<div class="text-format">
			  <button class="btn"><i class="ri-bold"></i></button>
			  <button class="btn"><i class="ri-italic"></i></button>
			  <button class="btn"><i class="ri-underline"></i></button>
			  <button class="btn"><i class="ri-list-unordered"></i></button>
			</div>
			<div class="group-button">
			  <button class="btn"><i class="ri-at-line"></i></button>
			  <button class="btn primary" type="submit">Send</button>
			</div>
		  </div>
		</div>
	  </form>
	  
	<div class="comment" *ngFor="let comment of comment$ | async">
		<div class="user-banner">
			<div class="user">
				<div class="avatar">
					<img src="https://2.bp.blogspot.com/-b_lqelKRB4k/Xj-rBvoSxUI/AAAAAAAACHg/G19lzRiO6qYQmquCqut44r1cMdF53HQ0QCLcBGAsYHQ/s1600/anime3.png">
					
				</div>
				<h5>{{comment.author.username}}</h5>
			</div>
			<button class="btn dropdown"><i class="ri-more-line"></i></button>
		</div>
		<div class="content">
			<p>{{comment.content}}</p>
		</div>
		<div class="footer">
			<button class="btn"><i class="ri-emotion-line"></i></button>
			<div class="reactions">
			</div>
		</div>
	</div>
	<!-- <div>
		<div class="comment">
			<div class="user-banner">
				<div class="user">
					<div class="avatar" style="background-color:#fff5e9;border-color:#ffe0bd; color:#F98600">
						AF
						<span class="stat green"></span>
					</div>
					<h5>Albert Flores</h5>
				</div>
				<button class="btn dropdown"><i class="ri-more-line"></i></button>
			</div>
			<div class="content">
				<p>Before installing this plugin please put back again your wordpress and site url back to http.</p>
			</div>
			<div class="footer">
				<button class="btn"><i class="ri-emotion-line"></i></button>
				<div class="divider"></div>
				<a href="#">Reply</a>
				<div class="divider"></div>
				<span class="is-mute">2 min</span>
			</div>
		</div>
		<div class="reply comment">
			<div class="user-banner">
				<div class="user">
					<div class="avatar">
						<img src="https://images.unsplash.com/photo-1510227272981-87123e259b17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=3759e09a5b9fbe53088b23c615b6312e" alt="">
						<span class="stat green"></span>
					</div>
					<h5>Bessie Cooper</h5>
				</div>
				<button class="btn dropdown"><i class="ri-more-line"></i></button>
			</div>
			<div class="content">
				<p>Hi <a href="#" class="tagged-user">@Albert Flores</a>.Thanks for your reply.</p>
			</div>
			<div class="footer">
				<button class="btn"><i class="ri-emotion-line"></i></button>
				<div class="reactions">
					<button class="btn react"><img src="https://cdn-0.emojis.wiki/emoji-pics/apple/smiling-face-with-heart-eyes-apple.png" alt="">2</button>
				</div>
				<div class="divider"></div>
				<a href="#">Reply</a>
				<div class="divider"></div>
				<span class="is-mute">18 sec</span>
			</div>
		</div>
	</div>
	<div class="load">
		<span><i class="ri-refresh-line"></i>Loading</span>
	</div>
</div> -->